body {
    /*background-color: yellow;*/
}

.interests {
    display: block;
    margin: auto;
    padding-top: 25px;
    height: 300px;
}

.square {
    height: 350px;
}

.subtitle {
    text-align: center;
}

#title {
    text-align: center;
}

.container-fluid {
    border: 2px, solid, green;    
}

.ex {
    border-style: 3px, outset, gray;
    /*background-color: red;*/
    text-align: center;
    /*border: solid, 2px, green;*/
}