{% extends 'base.html' %} 

{% block head %}
{% endblock %}


{% block body %}

<h3>Some examples of mine. Using CSS.</h3>

<br><br>

<div class="container-fluid">


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Customizing links.</p>
    </div>
    <img src="/static/images/css/links.jpg" alt="link-image" style="height:300px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Classes and IDs.</p>
    </div>
    <img src="/static/images/css/classid.jpg" alt="id-image" style="height:150px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Setting background images.</p>
    </div>
    <img src="/static/images/css/image.jpg" alt="background-image" style="height:200px;">
</div>


</div>

{% endblock %}