{% extends 'base.html' %} 

{% block head %}
{% endblock %}


{% block body %}

<h3>When not at the computer...</h3>

<br><br>

<div class="container-fluid">


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Bicycle.</p>
    </div>
    <img src="/static/images/boot/grids.jpg" alt="grid-image" style="height:50px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Musical theater.</p>
    </div>
    <img src="/static/images/boot/buttons.jpg" alt="button-image" style="height:75px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Nature.</p>
    </div>
    <img src="/static/images/boot/buttons.jpg" alt="button-image" style="height:75px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Adventure.</p>
    </div>
    <img src="/static/images/boot/buttons.jpg" alt="button-image" style="height:75px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Languages.</p>
    </div>
    <p>Check out my "English Tips with Emily <a href="https://www.facebook.com/TipsWithEmily/">here</a></p>

    <img src="/static/images/boot/buttons.jpg" alt="button-image" style="height:75px;">
</div>


</div>

{% endblock %}