{% extends 'base.html' %} 

{% block head %}
{% endblock %}


{% block body %}

<h3>Some examples of mine. Using Flask as a web framework for a project</h3>

<br><br>

<div class="container-fluid">


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Flask is a web framework that works with Python. With Flask, I can easily log in users by creating sessions (which are stored as cookies in the browser).</p>
    </div>
    <img src="/static/images/framework/login.jpg" alt="login-image" style="height:400px;">
</div>



<br><br><br>



<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Flask uses Jinja as a templating language. Jinja can render information from the server as well as loop and make conditionals in html. Here's an example of a conditional with rendering from the database from my project.</p>
    </div>
    <img src="/static/images/framework/jinja-cond.jpg" alt="jinja-image" style="height:400px;">
</div>



<br><br><br>



<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Because custom urls create personalized experiences, Flask will help you build them. Just import url_for and pass in the necessary arguments.</p>
    </div>
    <img src="/static/images/framework/url_for.jpg" alt="url-image" style="height:350px;">
</div>


</div>

{% endblock %}