{% extends 'base.html' %} 

{% block head %}

{% endblock %}


{% block body %}


<div class="container-fluid">
<div class="col-md-4 col-xs-12 col-md-offset-4">
<h1 id="title">Emily Moragdo</h1>
<h3 class="subtitle">Software Engineer</h3>
</div>
</div>


<div class="container-fluid">
<div class="col-md-4 col-xs-12 col-md-offset-5">
    <img src="/static/images/emily.jpg" alt="profile-pic" style="height:200px;width:200px;">
</div>
</div>

<br>

<h3 class="subtitle">Learn about Emily's interests</h3>



<div class="container-fluid">

<div class="row">
  <a href="/python">
    <div class="col-md-4 col-xs-12 square">
        <img src="/static/images/python/python.jpg" alt="python-image" class="interests">
    </div>
  </a>
  <a href="/javascript">
    <div class="col-md-4 col-xs-12 square">
        <img src="/static/images/js/js.jpg" alt="js-image" class="interests">
    </div>
  </a>
  <a href="/sql">
    <div class="col-md-4 col-xs-12 square">
        <img src="/static/images/sql/sql.jpg" alt="sql-image" class="exception">
    </div>
  </a>
</div>



<div class="container-fluid">
<div class="row">
  <a href="/framework">
    <div class="col-md-4 col-xs-12 square">
        <img src="/static/images/framework/flask.jpg" alt="flask-image" class="exception">
    </div>
  </a>
  <a href="/api">
    <div class="col-md-4 col-xs-12 square">
        <img src="/static/images/api/maps-logo.jpg" alt="logo-image" class="interests">
    </div>
  </a>

  <div class="col-md-4 col-xs-12 square" style="background-color:green;">.col-md-4</div>
  <div class="col-md-4 col-xs-12 square" style="background-color:violet;">.col-md-4</div>
</div>
</div>


<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-xs-12 square" style="background-color:green;">.col-md-4</div>
  <div class="col-md-4 col-xs-12 square" style="background-color:violet;">.col-md-4</div>
  <div class="col-md-4 col-xs-12 square" style="background-color:blue;">.col-md-4</div>
</div>
</div>


{% endblock %}