{% extends 'base.html' %} 

{% block head %}
{% endblock %}


{% block body %}

<h3>Some examples of mine. Using HTML.</h3>

<br><br>

<div class="container-fluid">


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Making forms with dropdowns.</p>
    </div>
    <img src="/static/images/html/dropdown.jpg" alt="dropdown-image" style="height:350px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Hidden fields.</p>
    </div>
    <img src="/static/images/html/hidden.jpg" alt="hidden-image" style="height:150px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Dates and times.</p>
    </div>
    <img src="/static/images/html/dates.jpg" alt="times-image" style="height:150px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>HTML and Jinja.</p>
    </div>
    <img src="/static/images/html/withjin.jpg" alt="jinja-image" style="height:175px;">
</div>


</div>

{% endblock %}