{% extends 'base.html' %} 

{% block head %}
{% endblock %}


{% block body %}

<h3>Some examples of mine. Using SQLite3 and SQLAlchemy in a project</h3>

<br><br>

<div class="container-fluid">


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Using SQLite3 as my database and SQLAlchemy as my ORM, I've created and manipulated tables. Here's an example of one of those tables in SQLite3.</p>
    </div>
    <img src="/static/images/sql/classes.jpg" alt="table-image" style="height:400px;">
</div>



<br><br><br>



<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Here is that same table in Python, using SQLAlchemy.</p>
    </div>
    <img src="/static/images/sql/model-classes.jpg" alt="model-image" style="height:550px;">
</div>



<br><br><br>



<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>When building projects that require more than one table, relational tables are necessary. Here's one I've built.</p>
    </div>
    <img src="/static/images/sql/association.jpg" alt="relational-image" style="height:125px;">
</div>


<br><br><br>


<div class="col-md-8 col-xs-12 col-md-offset-2 ex">
    <div style="width:700px;" class="col-md-offset-1">
        <p>Here is that same table in Python, using SQLAlchemy.</p>
    </div>
    <img src="/static/images/sql/association-model.jpg" alt="relational-model-image" style="height:300px;">
</div>


</div>

{% endblock %}